*.csv
.idea
.venv
__pycache__
*.xlsx
*.pkl
*.env
prototyping_test/encuestas_eds/
data/
id_rsa
id_rsa.pub
id_rsa2
id_rsa2.ppk
id_rsa2.pub
.junie/temp
old_csv_files
/prototyping_test/output/
/prototyping_test/entrevistaDavid_RCN.py
/prototyping_test/consumo_mensual_tablas.py
/prototyping_test/contar_estaciones_servicio.py
/id_rsa.ppk
